.view-details {
    background-color: rgba(54, 54, 54, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    z-index: 10000;

    cursor: auto;
}

.view-details-inner{
    background-color: rgb(0, 0, 0);
    margin: 2rem;
    overflow: hidden;
    border-radius: 20px;
}

.details-content{
    background-color: black;
    position: relative;
    bottom: 30%;
    padding: 1rem;
}

.details-header{
    background-color: black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-anchors{
    display: flex;
    gap: 1rem;
}

.details-anchorIndiv{
    text-decoration: none;
    color: white;
    background-color: rgb(183, 183, 183);
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.details-anchorIndiv:hover{
    background-color: rgb(129, 129, 129);
}

#details-img{
    width: 22rem;
}

.details-anchor--img{
    width: 1.25rem;
}

.details-techList{
    display: flex;
    gap: 1rem;
}

.details-techItem{
    background-color: rgb(183, 183, 183);
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
}