/* navigation bar */
.navigation{
  background-color: rgb(41, 40, 40);
  height: 3rem;
  color: white;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navigation ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 18px;
}

.navigation li:hover{
  background-color: rgb(67, 67, 67);
}

.navigation a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.site-title{
  font-size: 19px;
  font-weight: normal;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

/* home page */

.home{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.home h1{
  font-size: 36px;
}

.home p{
  font-size: 24px;
  color: rgb(95, 93, 93);
}

.home--buttons{
  display: flex;
  padding-top: 2rem;
  height: 2.5rem;
  gap: 1rem;
}

#home--button-download{
  background-color: rgb(41, 40, 40);
  color: white;
  border-radius: 5px;
  border: none;
  width: 10.5rem;
  transition: 300ms;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
}

#home--button-download:hover{
  background-color: rgb(73, 71, 71);
  bottom: 3px;
  transition: 300ms;
}

#home--button-contact{
  width: 9rem;
  border-radius: 5px;
  border: 1.5px solid;
  position: relative;
  transition: 300ms;
  cursor: pointer;
  font-size: 15px;
}

#home--button-contact:hover{
  background-color: rgba(90, 88, 88, 0.686);
  border: 1.5px solid transparent ;
  color: white;
  bottom: 3px;
  transition: 300ms;
}

.profile {
  width: 32vw;
  position: relative;
  border-radius: 20%;
}


/* about page */
.about {
  padding: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

#about--text{
  /* background-color: rgba(171, 171, 171, 0.556); */
  padding: 0 1rem;
  border-radius: 10px;
  color: rgb(29, 29, 29);
}

.about h1{
  color: black;
}

.about-skills{
  /* background-color: rgba(171, 171, 171, 0.556); */
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 10px;
  color: rgb(29, 29, 29);
}

.skills-section{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  
}

.divider{
  border: 1px solid black;
}

/* projects page */
.project{
  padding: 3rem;
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 800px) {
  .project{
    flex-direction: column;
  }
}